<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>

<div class="container mt-5">
    <div class="form-container bg-light p-4">
        <h2 class="text-center mb-4">Edit Schedule</h2>
        <form action="/admin/schedules/{{schedule.id}}?_method=PUT" method="POST">
            <div class="form-group">
                <label for="date" class="form-label">Date:</label>
                <input type="date" id="date" name="date" class="form-control" value="{{schedule.date}}" required>
            </div>

            <div class="form-group">
                <label for="userName" class="form-label">User Name:</label>
                <select name="userId" id="userName" class="form-control" required>
                    <option value="" disabled>Select User</option>
                    {{#each users}}
                    <option value="{{this.id}}" {{#ifCond this.id ../schedule.userId}} selected {{/ifCond}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label for="shiftName" class="form-label">Shift Name:</label>
                <select name="shiftId" id="shiftName" class="form-control" required>
                    <option value="" disabled>Select Shift</option>
                    {{#each shifts}}
                    <option value="{{this.id}}" {{#ifCond this.id ../schedule.shiftId}} selected {{/ifCond}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
           
            <button type="submit" class="mt-4 btn btn-primary">Edit</button>
        </form>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get today's date in the format YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Set the minimum date for the input field to today
    document.getElementById('date').setAttribute('min', today);
});
</script>
