<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>

<div class="container mt-5">
    <div class="form-container bg-light p-4">
        <h2 class="text-center mb-4">Edit Schedule</h2>
        <form action="/admin/schedules/{{schedule.id}}?_method=PUT" method="POST">
            <div class="form-group">
                <label for="date" class="form-label">Date:</label>
                <input type="date" id="date" name="date" class="form-control" value="{{schedule.date}}" required>
            </div>

            {{#each shifts}}
            <div class="form-group">
                <label for="shift_{{this.id}}" class="form-label">{{this.name}}:</label>
                <select name="shift_{{this.id}}" id="shift_{{this.id}}" class="form-control" required>
                <option value="" disabled{{#unless (lookup ../assignmentMap this.id)}}selected{{/unless}}>Select User</option>
                {{#each ../users}}<option value="{{this.id}}"
                {{#if (lookup ../../assignmentMap ../id)}}
                {{#ifCond (lookup ../../assignmentMap ../id) this.id}}selected{{/ifCond}}
            {{/if}}>
            {{this.name}}
        </option>
        {{/each}}
                </select>
            </div>
            {{/each}}
           
            <button type="submit" class="mt-4 btn btn-primary">Update</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('date').setAttribute('min', today);
    });
</script>