{{> admin-tabs route="schedule-new" }}

<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>

<div class="container mt-3">
    <div class="form-container bg-light p-4">
        <h2 class="text-center mb-4">Create a New Schedule</h2>
        <form action="/admin/schedules" method="POST" data-parsley-validate>
            <div class="form-group">
                <label for="date" class="form-label">Date:</label>
                <input type="date" id="date" name="date" value="{{selectedDate}}" class="form-control" required data-parsley-required-message="Please select a date.">
            </div>

            {{#each shifts}}
            <div class="form-group">
                <label for="shift_{{this.id}}" class="form-label">{{this.name}}:</label>
                <select name="shift_{{this.id}}" id="shift_{{this.id}}" class="form-control" required data-parsley-required-message="{{this.name}}">
                    <option value="" disabled selected>Select User</option>
                    {{#each ../users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            {{/each}}

            <button type="submit" class="mt-4 btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script>
 document.addEventListener('DOMContentLoaded', function() {
    const today = new Date().toISOString().split('T')[0];
    const dateInput = document.getElementById('date');
    dateInput.setAttribute('min', today);
  
  });
</script>